html, body {
    color: #424551;
    font-family: Lato, sans-serif;
    line-height: 160%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
}

.button {

}

/*header*/
.header {

}

/*header__top*/
.header__top {
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
}

.header__nav-link {
}

.header__btn-box {
}

.header__top-button {
}

.header__user {
}

.header__user-btn {
}

/*header__body*/